.canine-grandparent {
  display: flex;
  justify-content: center;
}

.canine-parent {
  width: 50vw;
  margin-top: 4vw;
}

.canine-header {
  margin-bottom: 3vh;
  text-align: center;
}
  
.canine-text {
  text-align: justify;
}

.canine-image-div {
  text-align: center;
}

.submit-input, .text-input {
  margin-top: 1vh;
  margin-bottom: 3vh;
}

.canine-image {
  height: 15em;
  width: 15em;
}

.dog-image {
  max-width: 50em;
}