.header-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #7DDB76
}

.header-parent-left {
  display: flex;
}

.header-parent-right {
  width: 100%;
  text-align: right !important;
}

.header-child {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 2.8vh;
  color: white;
}

.dogify {
  margin-left: 1vw;
  margin-right: 1vw;
  color: white;
}

.logout-div {
  margin-top: 2.8vh;
}

.logout {
  margin-top: 5px;
  margin-right: 1vw;
}

.nothing-div {
  height: 0%;
}