.login-parent-form {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.login-container {
  text-align: center;
  width: 25vw;
  box-shadow: 5px 5px 5px 5px grey;
  background-color: #f2f2f2
}

.login-field {
  margin-bottom: 1vh;
}

.login {
  margin-top: 2vh;
  margin-bottom: 1.5vh;
}

.dogify {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.login-button {
  width: 7em;
}

.login-input {
  width: 18em;
}